<form action="/users/create-session" method="POST">
  <div>
    <input type="email" name="email" placeholder="enter email" required />
    <input
      type="password"
      name="password"
      placeholder="enter password"
      required
    />
    <button type="submit">Submit</button>
  </div>
  ;
</form>
;
